<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="ie9BlockFragment">
    <h1 class="Ops">Ooops!</h1>

    <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser in order
        to access the maximum functionality of this website. </p>
    <ul class="browsers">
        <li>
            <a href="https://www.google.com/intl/en/chrome/browser/">
                <img th:src="@{/resources/images/browsers/chrome.png}" alt="" />

                <div>Google Chrome</div>
            </a>
        </li>
        <li>
            <a href="http://www.mozilla.org/en-US/firefox/new/">
                <img th:src="@{/resources/images/browsers/firefox.png}" alt="" />

                <div>Mozilla Firefox</div>
            </a>
        </li>
        <li>
            <a href="http://www.opera.com/computer/windows">
                <img th:src="@{/resources/images/browsers/opera.png}" alt="" />

                <div>Opera</div>
            </a>
        </li>
        <li>
            <a href="http://safari.en.softonic.com/">
                <img th:src="@{/resources/images/browsers/safari.png}" alt="" />

                <div>Safari</div>
            </a>
        </li>
        <li>
            <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages">
                <img th:src="@{/resources/images/browsers/ie.png}" alt="">

                <div>Internet Explorer(New)</div>
            </a>
        </li>
    </ul>
    <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
</div>
</body>
</html>