<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <div th:fragment="quickstatsFragment">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tile quick-stats">
                    <div id="total-session-chart" class="pull-left"></div>
                    <div class="data">
                        <h2 id="totalSessions">0</h2>
                        <small>Total Sessions</small>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tile quick-stats media">
                    <div id="total-user-online-chart" class="pull-left"></div>
                    <div class="media-body">
                        <h2><span id="totalNewUserOnline">0</span> / <span id="totalUserOnline">0</span></h2>
                        <small class="ellipsis">Online Users (New / Total)</small>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tile quick-stats">
                    <div id="total-user-chart" class="pull-left"></div>
                    <div class="data">
                        <h2 id="totalUser">0</h2>
                        <small class="ellipsis">Total Users</small>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tile quick-stats media">
                    <div id="total-new-user-chart" class="pull-left"></div>
                    <div class="media-body">
                        <h2 id="totalNewUser">0</h2>
                        <small class="ellipsis">New Users</small>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tile quick-stats media">
                    <div id="total-time-spent-chart" class="pull-left"></div>
                    <div class="media-body">
                        <h2><span id="totalSessionTime">0</span><span class="small"> min</span></h2>
                        <small class="ellipsis">Time Spent</small>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tile quick-stats media">
                    <div id="total-time-spent-average-chart" class="pull-left"></div>
                    <div class="media-body">
                        <h2><span id="totalAverageSessionTime">0</span><span class="small"> min</span></h2>
                        <small class="ellipsis">Time Spent Average</small>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>