<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <div th:fragment="shortcutsFragment">
        <a class="shortcut tile" href="#" id="increaseSession">
            <img th:src="@{/resources/images/shortcuts/money.png}" alt="" />
            <small class="t-overflow">Purchases</small>
        </a>
        <!--<a class="shortcut tile" href="#">
            <img th:src="@{/resources/images/shortcuts/twitter.png}" alt="" />
            <small class="t-overflow">Tweets</small>
        </a>
        <a class="shortcut tile" href="#">
            <img th:src="@{/resources/images/shortcuts/calendar.png}" alt="" />
            <small class="t-overflow">Calendar</small>
        </a>
        <a class="shortcut tile" href="#">
            <img th:src="@{/resources/images/shortcuts/stats.png}" alt="" />
            <small class="t-overflow">Statistics</small>
        </a>
        <a class="shortcut tile" href="#">
            <img th:src="@{/resources/images/shortcuts/connections.png}" alt="" />
            <small class="t-overflow">Connection</small>
        </a>
        <a class="shortcut tile" href="#">
            <img th:src="@{/resources/images/shortcuts/reports.png}" alt="" />
            <small class="t-overflow">Reports</small>
        </a>-->
    </div>
</body>
</html>