<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="userAnalyticsFragment">
    <div class="row">
        <div class="col-md-2 col-xs-6">
            <div class="tile quick-stats">
                <div id="total-user-chart" class="pull-left"></div>
                <div class="data">
                    <h2 id="totalUser">0</h2>
                    <small>Total User</small>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-6">
            <div class="tile quick-stats media">
                <div id="total-new-user-chart" class="pull-left"></div>
                <div class="media-body">
                    <h2 id="newUser">0</h2>
                    <small>New User</small>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-6">
            <div class="tile quick-stats media">
                <div id="total-user-online-chart" class="pull-left"></div>
                <div class="media-body">
                    <h2 id="totalUserOnline">0</h2>
                    <small>Total User Online</small>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats media">
                <div id="total-new-user-online-chart" class="pull-left"></div>
                <div class="media-body">
                    <h2 id="newUserOnline" >0</h2>
                    <small>New User Online</small>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>