<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="taskTodoFragment">
    <div class="tile">
        <h2 class="tile-title">Tasks to do</h2>

        <div class="tile-config dropdown">
            <a data-toggle="dropdown" href="#" class="tile-menu"></a>
            <ul class="dropdown-menu pull-right text-right">
                <li sessionId="todo-add"><a href="#">Add New</a></li>
                <li sessionId="todo-refresh"><a href="#">Refresh</a></li>
                <li sessionId="todo-clear"><a href="#">Clear All</a></li>
            </ul>
        </div>

        <div class="listview todo-list sortable">
            <div class="media">
                <div class="checkbox m-0">
                    <label class="t-overflow">
                        <input type="checkbox" />
                        Curabitur quis nisi ut nunc gravida suscipis
                    </label>
                </div>
            </div>
            <div class="media">
                <div class="checkbox m-0">
                    <label class="t-overflow">
                        <input type="checkbox" />
                        Suscipit at feugiat dewoo
                    </label>
                </div>

            </div>
            <div class="media">
                <div class="checkbox m-0">
                    <label class="t-overflow">
                        <input type="checkbox" />
                        Gravida wendy lorem ipsum seen
                    </label>
                </div>

            </div>
            <div class="media">
                <div class="checkbox m-0">
                    <label class="t-overflow">
                        <input type="checkbox" />
                        Fedrix quis nisi ut nunc gravida suscipit at feugiat purus
                    </label>
                </div>

            </div>
        </div>

        <h2 class="tile-title">Completed Tasks</h2>

        <div class="listview todo-list sortable">
            <div class="media">
                <div class="checkbox m-0">
                    <label class="t-overflow">
                        <input type="checkbox" checked="checked" />
                        Motor susbect win latictals bin the woodat cool
                    </label>
                </div>

            </div>
            <div class="media">
                <div class="checkbox m-0">
                    <label class="t-overflow">
                        <input type="checkbox" checked="checked" />
                        Wendy mitchel susbect win latictals bin the woodat cool
                    </label>
                </div>

            </div>
            <div class="media">
                <div class="checkbox m-0">
                    <label class="t-overflow">
                        <input type="checkbox" checked="checked" />
                        Latictals bin the woodat cool for the win
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>