<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="mainwidgetsFragment">
    <div class="row">
        <div class="col-md-12">
            <div class="tile" th:include="dashboard/mainwidgets/_filterbytimechart :: filterByTimeChart"/>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-md-6">-->
        <!-- Main Chart -->
        <!--<div class="tile" th:include="dashboard/mainwidgets/_statisticchart :: statisticsChartFragment" />-->
        <!--Pies -->
        <!--<div class="tile text-center" th:include="dashboard/mainwidgets/_piechart :: pieChartFragment" />-->

        <!--  Recent Postings -->
        <!--<div class="row">-->
        <!--<div class="col-md-6" th:include="dashboard/mainwidgets/_recentpostings :: recentPostingsFragment" />-->

        <!-- Tasks to do -->
        <!--<div class="col-md-6" th:include="dashboard/mainwidgets/_tasktodo :: taskTodoFragment" />-->
        <!--</div>-->
        <!--<div class="clearfix"></div>
    </div>-->

        <div class="col-md-12">

            <!--<div class="tile" th:include="dashboard/mainwidgets/_statisticdynamicchart :: statisticsDynamicChartFragment" />-->
            <!-- World Map -->
            <div class="tile" th:include="dashboard/mainwidgets/_worldmap :: worldMapFragment" />

            <!-- Dynamic Chart -->
            <!--<div class="tile" th:include="dashboard/mainwidgets/_dynamicchart :: dynamicChartFragment" />-->

            <!-- Activity -->
            <!--<div class="tile" th:include="dashboard/mainwidgets/_socialactivity :: socialActivityFragment" />-->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>