<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head th:fragment="headFragment">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="Violate Responsive Admin Template"/>
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap"/>

    <!-- CSS -->
<!--     <link href="/resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/resources/css/animate.min.css" th:href="@{/resources/css/animate.min.css}" rel="stylesheet"/>
    <link href="/resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="/resources/css/form.css" th:href="@{/resources/css/form.css}" rel="stylesheet"/>
    <link href="/resources/css/calendar.css" th:href="@{/resources/css/calendar.css}" rel="stylesheet"/>
    <link href="/resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link href="/resources/css/icons.css" th:href="@{/resources/css/icons.css}" rel="stylesheet"/>
    <link href="/resources/css/flags16.css" th:href="@{/resources/css/flags16.css}" rel="stylesheet"/>
    <link href="/resources/css/generics.css" th:href="@{/resources/css/generics.css}" rel="stylesheet"/>
    <link href="/resources/css/daterangepicker-bs3.css" th:href="@{/resources/css/daterangepicker-bs3.css}"
          rel="stylesheet"/>
           -->
          
          
<!--           
		Title
		<title>Radial - Premium Automotive WordPress Theme</title>

		Meta Tags
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> -->

		<!-- Favicon -->
		<link rel="shortcut icon" th:href="@{/resources/images/ext/favicon.ico}" type="image/x-icon" />

		<!-- Stylesheets -->
		<link rel="stylesheet" th:href="@{/resources/css/ext/main-stylesheet.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/resources/css/ext/sexy-slider.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/resources/css/ext/shortcodes.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/resources/css/ext/custom-style.css}" type="text/css" />
				
		<!-- <link type="text/css" id="style-responsive" rel="stylesheet" media="screen" th:href="@{/resources/css/ext/responsive/desktop.css}" /> -->
		<!--[if IE 7]>
			<link rel="stylesheet" th:href="@{/resources/css/ext/ie7-main-stylesheet.css}" type="text/css">
			<link rel="stylesheet" th:href="@{/resources/css/ext/ie7-sexy-slider.css}" type="text/css">
		<![endif]-->
		<link rel="stylesheet" th:href="@{/resources/css/ext/color.css}" type="text/css" />

		<!-- JavaScripts -->
		<script th:src="@{/resources/javascript/ext/jquery.min.js}" type="text/javascript"></script>
		<script th:src="@{/resources/javascript/ext/jquery.sexyslider.js}" type="text/javascript"></script>
		<script th:src="@{/resources/javascript/ext/cufon-yui.js}" type="text/javascript"></script>
		<script th:src="@{/resources/javascript/ext/cufon-replace.js}" type="text/javascript"></script>
		<script th:src="@{/resources/javascript/ext/titillium.font.js}" type="text/javascript"></script>
		<script th:src="@{/resources/javascript/ext/jquery.innerfade.js}" type="text/javascript"></script>
		<script th:src="@{/resources/javascript/ext/orange-themes-responsive.js}" type="text/javascript"></script>

		<!-- custom function  -->
		<script th:src="@{/resources/javascript/cmonHandle.js}" type="text/javascript"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$("#homepage-slider").SexySlider({
					width      : 950,
					height     : 350,
					delay      : 300011111111111111,
					strips     : 3,
					autopause  : true,
					navigation : '#navigation',
					control    : '#control',
					effect     : 'fade',
					titleStyle : 'false'
				});
				
			});
		</script>

		<script type="text/javascript">
			$(document).ready(function(){
				// hide #back-top first
				// $("#back-top").hide();
				// fade in #back-top
				$(function () {
					$(window).scroll(function () { });
					// scroll body to 0px on click
					$('.back-to-top a').click(function () {
						$('body,html').animate({
							scrollTop: 0
						}, 800);
						return false;
					});
				});
				
				
			});
		</script>

		<script type="text/javascript">
			$(document).ready(
				function(){
					$('.feedback-wrapper').innerfade({
						speed: 700,
						timeout: 5000,
						type: 'random_start',
						containerheight: '155px'
					});
					
					jQuery(".menu-primary-wrapper").wrap("<div class='menu-set'></div>");
					jQuery(".menu-set").append("<a href='#show-menu' class='mobile-menu'></a>");
					jQuery("a[href='#show-menu']").click(function (){
						jQuery(".menu-set").toggleClass("menu-active");
						return false;
					});
			});
		</script>
          
</head>
<body>


<!-- <div th:fragment="pluginScriptLibraryFragment">
    <script th:inline="javascript">
        var CONTEXT_ROOT = /*[[@{/}]]*/ "";
    </script>
    jQuery
    <script src="/resources/javascript/plugins/jquery.min.js" th:src="@{/resources/javascript/plugins/jquery.min.js}"></script>
    jQuery Library
    <script src="/resources/javascript/plugins/jquery-ui.min.js" th:src="@{/resources/javascript/plugins/jquery-ui.min.js}"></script>
    jQuery UI
    <script src="/resources/javascript/plugins/jquery.easing.1.3.js"
            th:src="@{/resources/javascript/plugins/jquery.easing.1.3.js}"></script>
    jQuery Easing - Requirred for Lightbox + Pie Charts
    Bootstrap
    <script src="/resources/javascript/plugins/bootstrap.min.js" th:src="@{/resources/javascript/plugins/bootstrap.min.js}"></script>
     Form Related
    <script src="/resources/javascript/plugins/icheck.js" th:src="@{/resources/javascript/plugins/icheck.js}"></script>
    Custom Checkbox + Radio
    UX
    Custom Scrollbar
    <script src="/resources/javascript/plugins/scroll.min.js" th:src="@{/resources/javascript/plugins/scroll.min.js}"></script>
    Other
    <script src="/resources/javascript/plugins/calendar.min.js" th:src="@{/resources/javascript/plugins/calendar.min.js}"></script>
    Calendar
    <script src="/resources/javascript/plugins/feeds.min.js" th:src="@{/resources/javascript/plugins/feeds.min.js}"></script>
    News Feeds

     Form Related
    <script src="/resources/javascript/validation/validate.min.js"
            th:src="@{/resources/javascript/validation/validate.min.js}"></script>
    jQuery Form Validation Library
    <script src="/resources/javascript/validation/validationEngine.min.js"
            th:src="@{/resources/javascript/validation/validationEngine.min.js}"></script>
    jQuery Form Validation Library - requirred with above js

    All JS functions
    <script src="/resources/javascript/plugins/functions.js" th:src="@{/resources/javascript/plugins/functions.js}"></script>

    number formatter
    <script src="/resources/javascript/plugins/jshashtable-2.1.js" th:src="@{/resources/javascript/plugins/jshashtable-2.1.js}"></script>
    <script src="/resources/javascript/plugins/jquery.numberformatter-1.2.3.min.js" th:src="@{/resources/javascript/plugins/jquery.numberformatter-1.2.3.min.js}"></script>
</div>

<div th:fragment="scriptAboutDateRangePickerFragment">
    moment Library
    <script src="/resources/javascript/daterangepicker/moment.min.js" th:src="@{/resources/javascript/daterangepicker/moment.min.js}"></script>
    date ranger picker Library
    <script src="/resources/javascript/daterangepicker/daterangepicker.js" th:src="@{/resources/javascript/daterangepicker/daterangepicker.js}"></script>
</div> -->
</body>
</html>