<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      class="menu-active">

<head th:include="masterlayout/masterpage :: headFragment">
    <title>App versions</title>
</head>

<body id="skin-blur-violate" th:attr="id=${session.userSkin}">
<header id="header" class="media" th:include="masterlayout/masterpage :: headerFragment"></header>

<div class="clearfix"></div>

<section id="main" class="p-relative" role="main">
    <!-- Side Menu -->
    <ul class="list-unstyled side-menu hidden-xs" th:include="dashboard/sidebar/_sidemenu :: sidemenuFragment"/>
    <!-- Sidebar -->
    <aside id="sidebar" class="toggled" th:include="dashboard/sidebar/_sidebar :: sidebarFragment"/>

    <!-- Content -->
    <section id="content" class="container">
        <ol class="breadcrumb hidden-xs" th:include="dashboard/_breadcrumb :: breadcrumbFragment"/>
        <hr class="whiter"/>
        <div class="clearfix"></div>

        <!-- Filter buttons -->
        <div id="date-selector" th:include="dashboard/_filtertime :: filtertimeFragment" />

        <!-- Chart -->
        <div class="block-area">
            <div class="row">
                <div class="col-md-12">
                    <div class="tile" th:include="dashboard/mainwidgets/_filterbytimechart :: filterByTimeChart" />
                </div>
            </div>
        </div>
    </section>

    <!-- Older IE Message -->
    <!--[if lt IE 9]>
    <div class="ie-block" th:include="dashboard/_ie9block :: ie9BlockFragment" />
    <![endif]-->
</section>

<div th:include="masterlayout/masterpage :: pluginScriptLibraryFragment" ></div>
<div th:include="masterlayout/masterpage :: chartScriptLibraryFragment" ></div>
<script src="/resources/javascript/appVersion.js" th:src="@{/resources/javascript/appVersion.js}"></script>
<script src="/resources/javascript/appVersionChart.js" th:src="@{/resources/javascript/appVersionChart.js}"></script>
<div th:include="masterlayout/masterpage :: scriptAboutDateRangePickerFragment" ></div>
</body>

</html>