<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headFragment">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta charset="UTF-8"/>

    <meta name="description" content="Violate Responsive Admin Template"/>
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/resources/css/redactor.css" />
    
    <link href="/resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/resources/css/animate.min.css" th:href="@{/resources/css/animate.min.css}" rel="stylesheet"/>
    <link href="/resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="/resources/css/form.css" th:href="@{/resources/css/form.css}" rel="stylesheet"/>
    <link href="/resources/css/calendar.css" th:href="@{/resources/css/calendar.css}" rel="stylesheet"/>
    <link href="/resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link href="/resources/css/icons.css" th:href="@{/resources/css/icons.css}" rel="stylesheet"/>
    <link href="/resources/css/flags16.css" th:href="@{/resources/css/flags16.css}" rel="stylesheet"/>
    <link href="/resources/css/generics.css" th:href="@{/resources/css/generics.css}" rel="stylesheet"/>
    <link href="/resources/css/daterangepicker-bs3.css" th:href="@{/resources/css/daterangepicker-bs3.css}"
          rel="stylesheet"/>

</head>
<body>
<header sessionId="header" class="media" th:fragment="headerFragment">
    <a href="#" id="menu-toggle"></a>

    <!-- <a class="logo pull-left" th:href="@{/}">FUSION ANALYTIC</a> -->

    <div class="media-body">
        <div class="media" id="top-menu">
            <div class="pull-left tm-icon">
                <a data-drawer="messages" class="drawer-toggle" href="#">
                    <i class="sa-top-message"></i>
                    <i class="n-count animated">0</i>
                    <span>Messages</span>
                </a>
            </div>
            <div class="pull-left tm-icon">
                <a data-drawer="notifications" class="drawer-toggle" href="#">
                    <i class="sa-top-updates"></i>
                    <i class="n-count animated">0</i>
                    <span>Updates</span>
                </a>
            </div>

            <div id="time" class="pull-right">
                <span id="hours"></span>
                :
                <span id="min"></span>
                :
                <span id="sec"></span>
            </div>

            <div class="media-body">
                <input type="text" class="main-search"/>
            </div>
        </div>
    </div>
</header>

<!-- Javascript Libraries -->
<div th:fragment="chartScriptLibraryFragment">
    <!-- Charts -->
    <script src="/resources/javascript/charts/jquery.flot.js"
            th:src="@{/resources/javascript/charts/jquery.flot.js}"></script>
    <!-- Flot Main -->
    <script src="/resources/javascript/charts/jquery.flot.time.js"
            th:src="@{/resources/javascript/charts/jquery.flot.time.js}"></script>
    <!-- Flot sub -->
    <script src="/resources/javascript/charts/jquery.flot.animator.min.js"
            th:src="@{/resources/javascript/charts/jquery.flot.animator.min.js}"></script>
    <!-- Flot sub -->
    <!-- Flot sub - for repaint when resizing the screen -->
    <script src="/resources/javascript/charts/jquery.flot.resize.min.js"
            th:src="@{/resources/javascript/charts/jquery.flot.resize.min.js}"></script>
    <!-- Flot pie chart -->
    <script src="/resources/javascript/charts/jquery.flot.pie.min.js" th:src="@{/resources/javascript/charts/jquery.flot.pie.min.js}"></script> <!-- Flot Pie chart -->
    <!-- Sparkline - Tiny charts -->
    <script src="/resources/javascript/charts/sparkline.min.js" th:src="@{/resources/javascript/charts/sparkline.min.js}"></script>
    <!-- EasyPieChart - Animated Pie Charts -->
    <script src="/resources/javascript/charts/easypiechart.js" th:src="@{/resources/javascript/charts/easypiechart.js}"></script>
    <!-- All the above chart related functions -->
    <script src="/resources/javascript/charts/charts.js" th:src="@{/resources/javascript/charts/charts.js}"></script>
</div>

<div th:fragment="mapScriptLibraryFragment">
    <!-- Map -->
    <script src="/resources/javascript/maps/jvectormap.min.js" th:src="@{/resources/javascript/maps/jvectormap.min.js}"></script>
    <!-- jVectorMap main library -->
    <script src="/resources/javascript/maps/sessionWorldMap.js" th:src="@{/resources/javascript/maps/sessionWorldMap.js}"></script>
    <script src="/resources/javascript/maps/session-map.js" th:src="@{/resources/javascript/maps/session-map.js}"></script>
    <script src="/resources/javascript/maps/usa.js" th:src="@{/resources/javascript/maps/usa.js}"></script>
    <!-- USA Map for jVectorMap -->

    <script src="/resources/javascript/maps/world.js" th:src="@{/resources/javascript/maps/world.js}"></script>
    <!-- World Map for jVectorMap -->
</div>

<div th:fragment="pluginScriptLibraryFragment">
    <script th:inline="javascript">
        var CONTEXT_ROOT = /*[[@{/}]]*/ "";
    </script>
    <!-- jQuery -->
    <script src="/resources/javascript/plugins/jquery.min.js" th:src="@{/resources/javascript/plugins/jquery.min.js}"></script>
    <!-- jQuery Library -->
    <script src="/resources/javascript/plugins/jquery-ui.min.js" th:src="@{/resources/javascript/plugins/jquery-ui.min.js}"></script>
    <!-- jQuery UI -->
    <script src="/resources/javascript/plugins/jquery.easing.1.3.js"
            th:src="@{/resources/javascript/plugins/jquery.easing.1.3.js}"></script>
    <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->
    <!-- Bootstrap -->
    <script src="/resources/javascript/plugins/bootstrap.min.js" th:src="@{/resources/javascript/plugins/bootstrap.min.js}"></script>
    <!--  Form Related -->
    <script src="/resources/javascript/plugins/icheck.js" th:src="@{/resources/javascript/plugins/icheck.js}"></script>
    <!-- Custom Checkbox + Radio -->
    <!-- UX -->
    <!-- Custom Scrollbar -->
    <script src="/resources/javascript/plugins/scroll.min.js" th:src="@{/resources/javascript/plugins/scroll.min.js}"></script>
    <!-- Other -->
    <script src="/resources/javascript/plugins/calendar.min.js" th:src="@{/resources/javascript/plugins/calendar.min.js}"></script>
    <!-- Calendar -->
    <script src="/resources/javascript/plugins/feeds.min.js" th:src="@{/resources/javascript/plugins/feeds.min.js}"></script>
    <!-- News Feeds -->

    <!--  Form Related -->
    <script src="/resources/javascript/validation/validate.min.js"
            th:src="@{/resources/javascript/validation/validate.min.js}"></script>
    <!-- jQuery Form Validation Library -->
    <script src="/resources/javascript/validation/validationEngine.min.js"
            th:src="@{/resources/javascript/validation/validationEngine.min.js}"></script>
    <!-- jQuery Form Validation Library - requirred with above js -->

    <!-- All JS functions -->
    <script src="/resources/javascript/plugins/functions.js" th:src="@{/resources/javascript/plugins/functions.js}"></script>

    <!-- number formatter-->
    <script src="/resources/javascript/plugins/jshashtable-2.1.js" th:src="@{/resources/javascript/plugins/jshashtable-2.1.js}"></script>
    <script src="/resources/javascript/plugins/jquery.numberformatter-1.2.3.min.js" th:src="@{/resources/javascript/plugins/jquery.numberformatter-1.2.3.min.js}"></script>
    
    <script src="/resources/javascript/redactor/redactor.min.js"></script>
</div>

<div th:fragment="scriptAboutDateRangePickerFragment">
    <!-- moment Library -->
    <script src="/resources/javascript/daterangepicker/moment.min.js" th:src="@{/resources/javascript/daterangepicker/moment.min.js}"></script>
    <!-- date ranger picker Library -->
    <script src="/resources/javascript/daterangepicker/daterangepicker.js" th:src="@{/resources/javascript/daterangepicker/daterangepicker.js}"></script>
</div>

<!-- <div th:fragment="redactor">
  moment Library
  
    <script src="/resources/javascript/jwysiwyg/jwysiwyg.js" th:src="@{/resources/javascript/jwysiwyg/jwysiwyg.js}"></script>
    <script src="/resources/javascript/jwysiwyg/wysiwyg-editor.js" th:src="@{/resources/javascript/jwysiwyg/wysiwyg-editor.js}"></script>

    <script src="/resources/javascript/jwysiwyg/jquery.wysiwyg.js" th:src="@{/resources/javascript/jwysiwyg/jquery.wysiwyg.js}"></script>
    <script src="/resources/javascript/jwysiwyg/wysiwyg.js" th:src="@{/resources/javascript/jwysiwyg/custome.js}"></script>
</div>
 -->
</body>
</html>