<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="masterlayout/masterpage :: headFragment">
    <title>Admin</title>
</head>
<body id="skin-blur-violate" th:attr="id=${session.userSkin}">
<!-- <header id="header" class="media" th:include="masterlayout/masterpage :: headerFragment"></header> -->



<div class="clearfix"></div>

<section id="main" class="p-relative" role="main">
    <!-- Side Menu -->
    <ul class="list-unstyled side-menu hidden-xs" th:include="common/sidebar/_sidemenu :: sidemenuFragment"/>

    <!-- Sidebar -->
    <aside id="sidebar" th:include="common/sidebar/_sidebar :: sidebarFragment"/>

    <!-- Content -->
    <section id="content" class="container">
        <h2 class="page-title" th:if="${type==1}">Thắng cảnh Đà Nẳng</h2>
        <h2 class="page-title" th:if="${type==2}">Video nổi bật</h2>
        <h2 class="page-title" th:if="${type==3}">Sự kiện khác, Công ty</h2>

        <div class="block-area">
            <div class="filter-time">
                <!--<a href="addUser" id="createNewUser" class="btn">Create New User</a>-->

                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCreateUser" id="btn-create">
                    Create new Event
                </button>

            </div>


            <div th:if="${event != null}" class="modal" id="modalCreateUser" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <form action="saveEvent" th:action="@{/admin/event/saveEvent}" role="form" class="form-validation-1"
                      method="post" th:object="${event}" data-toggle="validator" id="createDialogForm">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Create New Event</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="eventTitle" class="control-label">Event type:</label>
                                    <select class="form-control" name="carType" id="eventType" th:field="*{type}">
                                        <option value="1" th:if="${type==1}">Thắng cảnh Đà Nẳng</option>                                     
                                        <option value="2" th:if="${type==2}">Video sự kiện nổi bật</option>
                                        <option value="3" th:if="${type==3}">Các sự kiện khác</option>
                                    </select>
                                    
                                    <label for="eventTitle" class="control-label">Event title:</label>
                                    <input type="hidden" th:field="*{id}" id="idEvent"/>
                                    <input type="text" class="form-control validate[required]" th:field="*{title}" id="titleEvent" />
                                    
                                    <label for="shortDescription" class="control-label">Short description:</label>
                                    <textarea   class="form-control" th:field="*{shortDescription}" id="shortDescriptionEvent" ></textarea>
                                    
                                    <label for="fullDescription" class="control-label">Full description</label>
                                    <textarea   class="form-control" th:field="*{fullDescription}" id="fullDescriptionEvent" ></textarea>

                                </div>

                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-submit">Create Event</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal" id="modalCreateImageEvent" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <form action="saveImageEvent" th:action="@{'/admin/event/saveImageEvent?' + ${_csrf.parameterName} + '=' + ${_csrf.token}}" role="form" class="form-validation-1"
                      method="post" th:object="${imageEvent}" data-toggle="validator" id="createDialogForm" enctype="multipart/form-data">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Create New Image Event</h4>
                            </div>
                            <input type="hidden" id="eventImageId" name="eventImageId"/>
                            <div class="modal-body">
                                <div class="form-group">                                        
                                    <label for="imageEvent" class="control-label">file event:</label>
                                    <input type="file"  name="file" id="imageEvent"/>
                                    <br />
                                     
                                    <label for="eventTitle" class="control-label">title file:</label>
                                    <input type="hidden" th:field="*{id}" id="idImageEvent"/>
                                    <textarea  class="form-control" th:field="*{title}" id="titleImageEvent" ></textarea>
                                    
                                    <label for="fullDescription" class="control-label">Full description</label>
                                    <textarea   class="form-control" th:field="*{description}" id="descriptionImageEvent" ></textarea>

                                </div>

                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-submit">Create Image Event</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Dialog confirm when delete event -->
            <div  class="modal" id="modalDeleteUser" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Delete Confirm</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure to delete event:&nbsp; <strong id="selectedUser" ></strong>&nbsp;? </p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" id="idUserDelete" href="#">Delete Event</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End delete dialog -->
        </div>

        <hr class="whiter"/>
        <div class="block-area" id="tableStriped">
            <h3 class="block-title">List Event</h3>

            <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
                <table class="tile table table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th class="hidden"></th>
                        <th ><input type="checkbox" class="checkbox"/></th>
                        <th width="5%">Event type</th>
                        <th width="10%">Title</th>
                        <th width="10%">Short description</th>
                        <th width="15%">Full description</th>
                        <th width="30%">Content</th>
                        <th width="5%">Date</th>
                        <th width="5%">Author</th>
                        <th width="10%">Content Control</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event : ${events}">
                        <td class="hidden"><input type="text" th:value="${event.id}" /></td>
                        <td ><input type="checkbox" class="checkbox"/></td>
                        
                        <td th:if="${type == 1}" >Thắng cảnh Đà Nẳng</td>
                        <td  th:if="${type == 2}" >Video nổi bật</td>
                        <td th:if="${type == 3}" >Sự kiện khác</td>
                        
                        <td  th:utext="${event.title}" ></td>
                        <td  th:utext="${event.shortDescription}" ></td>
                        <td  th:utext="${event.fullDescription}" ></td>
                        <td  width="60%">
                             <div th:each="image : ${event.imageEvents}">
                        		<img alt="" th:if="${image.image}" th:src="@{'/resources/images/events/' + ${image.path}}" width="226" height="87" /><br />
                        		<video th:if="${!image.image}" width="226" height="87" controls="controls">
                        		<source th:src="@{'/resources/images/events/' + ${image.path}}"  type="video/mp4" /></video><br />
                        		<small th:utext="${image.title}"></small>
                        		<div th:utext="${image.description}"></div>
	                            <a class="btn btn-alt btn-delete-image btn-sm" data-th-id="${image.id}"  data-toggle="modal" href="#modalDeleteImage" th:onclick="'confirmDeleteUser(' + @{'/admin/event/deleteImage/?' + ${image.id}} + ');'" ><i class="icon">
                                &#61918;</i> Delete file</a>
                        	</div>
                        </td>
                        <td class="vertical-align-table ellipsis" th:text="${event.createDate}"></td>
                        <td class="vertical-align-table ellipsis" th:text="${event.author}"></td>
                        <td><a class="btn btn-alt btn-edit btn-sm" data-toggle="modal" data-target="#modalCreateUser"><i class="icon">
                            &#61952;</i> Edit</a><br />
                            <a class="btn btn-alt btn-delete btn-sm" data-th-id="${event.id}" data-th-content="${event.title}" data-toggle="modal" href="#modalDeleteUser" th:onclick="'confirmDeleteUser(' + @{'/admin/event/deleteEvent/?' + ${event.id}} + ');'" ><i class="icon">
                                &#61918;</i> Delete</a><br />
                                <a class="btn btn-alt btn-add-paras btn-sm" data-th-id="${event.id}" data-th-content="${event.title}" data-toggle="modal" href="#modalCreateImageEvent" ><i class="icon">
                                &#61918;</i>Add paragraph</a>
                         </td>
                    </tr>
<!--                     <tr th:if="${page.getTotalPages() > 1}">
                        <td colspan="7" class="noHover">
                            Pagging
                            <ul class="btn-group pull-right pagination">
                                <li ><a th:if="${!page.isFirstPage()}" th:href="@{'/admin/event/?index=' + ${page.getNumber() - 1}}">&laquo;</a></li>
                                <li th:each="pageNumber:${#numbers.sequence(0, page.getTotalPages() - 1)}"  >
                                    <a th:if="${page.getNumber() == pageNumber}" class="active"  th:text="${pageNumber+1}" th:href="@{'/admin/event/?index=' + ${pageNumber}}"></a>
                                    <a th:if="${page.getNumber() != pageNumber}" th:text="${pageNumber+1}" th:href="@{'/admin/event/?index=' + ${pageNumber}}"></a>
                                </li>
                                <li ><a th:if="${!page.isLastPage()}" th:href="@{'/admin/event/?index=' + ${page.getNumber() + 1}}">&raquo;</a></li>
                            </ul>
                            End Pagging
                        </td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="whiter"/>
    </section>

    <!-- Older IE Message -->
    <!--[if lt IE 9]>
    <div class="ie-block" th:include="dashboard/_ie9block :: ie9BlockFragment"/>
    <![endif]-->
</section>
<div th:include="masterlayout/masterpage :: pluginScriptLibraryFragment" ></div>
<script src="/resources/javascript/adminEvent.js" th:src="@{/resources/javascript/adminEvent.js}"></script>
<script src="/resources/javascript/jwysiwyg/jquery.wysiwyg.js" th:src="@{/resources/javascript/jwysiwyg/jquery.wysiwyg.js}"></script>
	<script src="/resources/javascript/redactor/redactor.min.js" th:src="@{/resources/javascript/redactor/redactor.min.js}"></script>
    <!-- <script src="/resources/javascript/jwysiwyg/wysiwyg.js" th:src="@{/resources/javascript/jwysiwyg/custome.js}"></script> -->
</body>

</html>